<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading"><img src="{{ theme_url }}/img/logo.png"/></h1>
                    <p class="intro-text">{{ page.header.intro_text }}</p>
                    {{ page.content }}
                    <div class="links">
                        <a href="https://www.facebook.com/Claw-291516695407/" title="Join our Facebook page"><img src="{{ theme_url }}/img/facebook.png"/></a>
                        <a href="https://discord.gg/tDRsAqg" title="Join our Discord server"><img src="{{ theme_url }}/img/discord.png"/></a>
                        <a href="#" class="claw" title="Download Claw"><img src="{{ theme_url }}/img/claw.png"/></a>
                    </div>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>