<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading"><img alt="The Claw Recluse" title="The Claw Recluse" src="{{ theme_url }}/img/logo.png"/></h1>
                    <p class="intro-text">{{ page.content }}</p>
                    <div class="links">
                        {% for name, link in page.header.links %}
                            <a href="{{link.href}}" class="{{name}}" title="{{link.title}}"><img src="{{ theme_url }}/img/{{name}}.png"/></a>
                        {% endfor %}
                    </div>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>